{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="row">
    <div class="col-4">
      <div id="list-example" class="list-group position-fixed">
        <a class="list-group-item list-group-item-action " href="#list-item-1">Предложения</a>
        <a class="list-group-item list-group-item-action " href="#list-item-2">Отклоненные публикации</a>
      </div>
    </div>
    <div class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">

        {%if not has_pending_review %}
        <h4 id="list-item-1">Предложений нет.</h4>
        {% else %}
        <h4 id="list-item-1">Предложения:</h4>
        {%endif%}
        <p>
                {% for publication in pending_rewiew_publications %}
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                        
                        <div class="col-md-4">
                            <img src="{% static 'posters/' %}{{publication.poster_file_name}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'review_publication' publication.id %}" class="card-link"> 
                                    {{ publication.title }}
                                </a>
                                </h5>
                            <p class="card-text">{{ publication.introduction }}</p>
                            </div>
                        </div>
                        </div>
                    </div>
            {% endfor %}
        </p>

        {%if not are_rejected_exist %}
        <h4 id="list-item-2">Отклоненных публикаций нет.</h4>
        {% else %}
        <h4 id="list-item-2">Отклоненные публикации:</h4>
        {%endif%}
        <p>
            {% for publication in rejected_publications %}
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                        
                        <div class="col-md-4">
                            <img src="{% static 'posters/' %}{{publication.poster_file_name}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title">
                                    {{ publication.title }}
                                </h5>
                            <p class="card-text">{{ publication.introduction }}</p>
                            
                            </div>
                        </div>
                        </div>
                    </div>
            {% endfor %}
        </p>
       
      </div>
    </div>
  </div>
{% endblock %}